.call-to-action{
    @include flex (column,auto,center);
    margin-top: 4px;
    height:338px;
    &__localisation{
        @include flex(row,center,center);
        height: 50px;
        width: 100%;
        background-color: #eaeaea;
        
    }
    .localisation__search{
        background-color: transparent;
        border: none;
        margin-left: 20px;
        width: auto;
    }
}