.instruction__bubble-container {
  @include flex(column, center, center);
  margin: 0 0 55px 0;

  @include desktop-up {
    @include flex(row,space-evenly,center)
  }

  .bubble-container__bubble {
    position: relative;
    @include flex(row,start, center);
    height: 50px;
    border-radius: 15px;
    width: 80%;
    padding: 0 10px;
    margin: 15px 0;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);

    @include desktop-up {
      max-width: 350px;
      margin:20px;
    }

    .bubble__num {
      @include flex(row, center, center);
      position: absolute;
      left: -9px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      color: white;
      background-color: map-get($colors, "primary");
    }

    .bubble__icon {
      color: map-get($colors, "grey-3");
      margin: 0 15px;
    }
    .bubble__text {
      font-size: 1rem;
    }

    &:hover {
      background-color: #f2eafb;
      box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.2);

      .bubble__icon {
        color: map-get($colors, "primary");
      }
    }
  }
}
.instruction__title {
  margin: 50px 0 15px 20px;
}
