@import "../Components/heart";
.restaurants {
  background-color: map-get($colors, "grey-1");
  padding-bottom: 50px;
  width: 100%;
  .restaurants__title {
    padding: 40px 0 30px 20px;
  }
}

.restaurants__card-container {
  @include flex(column, center, center);
  width: 100%;

  @include tablet-up {
    @include flex (row,space-around,center);
    flex-wrap: wrap;
  }

  @include desktop-up {
    @include flex (row,space-evenly,center);
    flex-wrap: wrap;
  }
}

.card-container__card {
  @include flex(column, start, normal);
  height: 252px;
  width: calc(100vw - 40px);
  max-width:335px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 20px;

  @include tablet-up {
    width: calc(50vw - 40px);
    max-width:335px;
    margin: 15px;
  }
  @include desktop-up {
    max-width:335px;
    margin: 15px;
  }

  &:hover{
    transition: 0.5s;
    transform : scale(1.02);
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
  }

  

  .card__image-container {
    position: relative;
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;

    img {
      z-index: 10;
      position: absolute;
      object-fit: cover;
      top: -50px;
      width: 102%;
      height: auto;
    }
    .card__image2 {
      top: -155px;
    }
    .card__new {
      @include flex(row, center, center);
      z-index: 1000;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 80px;
      height: 30px;
      background-color: #99e2d0;
      p {
        font-size: 0.85rem;
        font-weight: 600;
        color: #008766;
      }
    }
  }
  .card__description {
    @include flex(row, space-between, center);
    height: 77px;

    .description__text {
      margin: 0 15px;
      .text__name {
        font-weight: 600;
      }
    }
    .description__like{
      margin-right: 25px;
    }
  }
}
